.reset {
 margin: 0 0 0 0;
 padding: 0;
 float: none;
 box-sizing: border-box;
 -mox-box-sizing: border-box;
 font-family: Arial, Helvetica, sans-serif;
 font-size: 16px;
 line-height: 24px;
 vertical-align: top;
 text-align: justify;
 color: #000000;
 border: none;
 border-width: 0;
 border-image-width: 0;
 border-spacing: 0;
}
* {
 margin: 0 0 0 0;
 padding: 0;
 float: none;
 box-sizing: border-box;
 -mox-box-sizing: border-box;
 font-family: Arial, Helvetica, sans-serif;
 font-size: 16px;
 line-height: 24px;
 vertical-align: top;
 text-align: justify;
 color: #000000;
 border: none;
 border-width: 0;
 border-image-width: 0;
 border-spacing: 0;
}
ul,
ol {
 display: block;
 list-style-type: none;
}
select {
 height: 24px;
}
a {
 text-decoration: none;
}
body {
 background: #dddddd;
}
body * {
 color: #333;
}
div#page {
 background: #ffffff;
 width: 1024px;
 margin: auto;
}
header {
 padding-top: 150px;
}
header nav ul.main-menu {
 width: 100%;
 background: #dddddd;
 height: 2em;
}
header nav ul.main-menu li {
 float: left;
 padding: 4px 8px;
 text-align: center;
 height: 100%;
 margin: 0 4px;
 background: #eeeeee;
}
header nav ul.main-menu li:first-child {
 margin-left: 0;
}
header nav div.module-links {
 width: 15%;
 background: #dddddd;
 float: right;
 min-height: 600px;
 margin: 8px;
 padding: 8px;
}
header nav div.module-links h2 {
 border-bottom: dashed 2px;
}
header nav div.module-links li {
 font-size: small;
}
header nav div.module-links li:hover {
 text-decoration: underline;
}
main {
 padding: 4px;
}
main ul.bread-crumbs {
 margin: 8px;
}
main ul.bread-crumbs li {
 float: left;
 font-size: small;
 margin-bottom: 8px;
}
main ul.bread-crumbs li a {
 font-size: small;
}
main ul.bread-crumbs li a:hover {
 text-decoration: underline;
}
main ul.bread-crumbs li:after {
 content: ">";
 padding: 0 8px;
}
main ul.bread-crumbs li:last-child:after {
 content: "";
 padding: 0;
}
main h1 {
 font-size: x-large;
 clear: left;
 margin: 8px;
 border-bottom: solid 2px;
 text-shadow: -2px -2px 0 #fff, 2px -2px 0 #fff, -2px 2px 0 #fff, 2px 2px 0 #fff;
}
main div#page-content {
 clear: left;
 width: 85%;
 padding-right: 8px;
}
footer {
 clear: both;
 border-top: solid 4px #dddddd;
 padding: 4px;
}
footer p#copyright {
 text-align: center;
}
